{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * hommjuicer plugin for Craft CMS 3.x
 *
 * hommjuicer Settings.twig
 *
 * @author    Domenik Hofer
 * @copyright Copyright (c) 2018 Domenik Hofer
 * @link      homm.ch
 * @package   Hommjuicer
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("homm\\hommjuicer\\assetbundles\\hommjuicer\\HommjuicerAsset") %}

{{ forms.textField({
    label: 'Juicer URL',
    instructions: 'Bsp: api/feeds/campingjungfrau',
    id: 'juicerURL',
    name: 'juicerURL',
    value: settings['juicerURL']})
}}

Keine Einträge vorhanden?<br><br>
		Mögliche Ursache:<br>
		Update nicht ausgeführt (<a target="_blank" href="/actions/hommjuicer/default/update-juicer">/actions/hommjuicer/default/update-juicer</a>)
		
<br><br>		
Anleitung + HTML/CSS/JS - Vorlagen:<br>
<a target="_blank" href="https://github.com/HOMMinteractive/hommjuicer">https://github.com/HOMMinteractive/hommjuicer</a> 


